html{
    font-size: 20px
}

/*IMPORT DE FONTE PERSONALIZADA DO GOOGLE FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.fonte-personalizada{
    font-family: "Playfair Display", serif;
    font-weight: 600;
}

/*---------------------------------------------*/

/*FONTE SEGURA*/

.fonte-segura{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold ;
}

/*------------------------------------------*/

/*FONTE BAIXADA DE FORMA EXTERNA*/

@font-face {
    font-family: 'milky nice';
    src: url('fontes/MilkyNice.otf'),
    url('fontes/MilkyNice.ttf'), ;
}

.fonte-nao-google-fonts{
    font-family: 'milky nice';
    font-weight: 200;
}

/*-----------------------------------------*/